.App {
  text-align: center;
  height: auto;
}

body {
  padding: 0;
  margin: 0;
}

.l-header {
  height: 84vh;
  width: 100%;
  font-size: 64px;
  margin-top: 160px;
}

.l-header > h1 {
  margin: 0;
  text-shadow: 0 0 16px #4169e1;
  -webkit-box-reflect: below -48px linear-gradient(transparent, #0008);
}

span {
  color: red;
}

p{
  margin: 0;
}

.l-nav {
  height: 16vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 16px #4169e1;
  -webkit-box-reflect: below -120px linear-gradient(transparent, #0003);
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  font-size: 32px;
  margin: 16px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #4169e1;
}

.About {
  height: 100vh;
  background-color: black;
}

.Portfolio {
  height: 100vh;
}

.Footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
}
